/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.contact {
    width: 100%;
    min-height: calc(100vh - 95px);
    position: relative;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    overflow: hidden;
}

.contact img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.contact .container {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    top: 10%;
}

.contact .container .info {
    position: relative;
    right: 3%;
}

.contact .container .form {
    position: relative;
    left: 5%
}

.contact h2 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
}

.contact p {
    margin: 5px 0 0 0;
    font-size: 26px;
}

.contact p span {
    letter-spacing: 1px;
    border-bottom: 2px solid var(--accent-color);
}

.contact .social-links {
    margin-top: 25px;
}

.contact .social-links a {
    background-color: color-mix(in srgb, var(--default-color), transparent 90%);
    color: var(--default-color);
    font-size: 14px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: 0.3s;
}

.contact .social-links a:hover {
    background-color: var(--accent-color);
}

@media (max-width: 768px) {
    .contact h2 {
        font-size: 32px;
    }

    .contact p {
        font-size: 20px;
    }
}

.footer {
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
}

.footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 30px 0;
}

.footer .social-links {
    margin: 0 0 30px 0;
}

.footer .social-links a {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    color: var(--contrast-color);
    line-height: 1;
    margin: 0 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.footer .social-links a:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
    text-decoration: none;
}

.footer .copyright {
    padding-top: 25px;
}

.footer .credits {
    font-size: 13px;
    padding-top: 5px;
}
